<?xml version='1.0' encoding='utf-8'?>
<Server port="9999" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="APP">
    <Connector port="8080"
      protocol="HTTP/1.1"
      connectionTimeout="20000"
      redirectPort="8443"
      server="Xweb"
      URIEncoding="UTF-8"
      />

    <Engine name="Tomcat" defaultHost="localhost">
      <Host name="localhost"
        appBase="/tomcat/work/appbase/"
        xmlBase="/tomcat/work/xmlbase/"
        workDir="/tomcat/work/workdir/"
        unpackWARs="true"
        autoDeploy="true"
        xmlValidation="false"
        xmlNamespaceAware="false">
        <Context path="/" docBase="/tomcat/webapps"/>
        <Valve className="org.apache.catalina.valves.AccessLogValve"
          directory="/data/logs"
          prefix="access."
          suffix=".log"
          pattern="common"
          resolveHosts="false"/>
      </Host>
    </Engine>

  </Service>
</Server>
